*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 300px;
    width: 400px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 40px; 
    gap: 10px;   
}
table{
    margin-top: 20px;
}
label{
    font-style: bold;
}
.container h2{
    text-align: center;
}